@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}

.wrapper {
    width: fit-content;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: baseline;
}

.nav__tab-wrapper {
    display: flex;
}

.nav__tab {
    border: none;
    overflow: hidden;
    font-weight: 700;
    font-size: 10pt;
    padding: 10px;
    width: fit-content;
    color: #ccc;
    background-color: transparent;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.nav__tab:hover {
    cursor: pointer;
    color: orangered;
}

.nav__tab--active {
    color: orangered;
}

.nav__title {
    font-size: 20pt;
    font-weight: 400;
    color: black;
}

.card-grid {
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 50px;
   border: 3px solid #ccc;
   border-radius: 6px; 
   width: 40vw;
   gap: 10px;
}

.card-grid input {
    display: none;
}

.card-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card {
    display: flex;
    align-content: center;
    transition: all 0.3s ease;
}

.card:hover {
    cursor: pointer;
}

.card-grid input:checked + .card {
    opacity: 0.5;
}

.card--vert {
    flex-direction: column;
}

.card--hor {
    flex-direction: row;
}

.card__desc {
    display: list-item;
    list-style-type: disc;
    list-style-position: inside;
    width: 55%;
}

.card__desc--buy-fonts {
    text-align: center;
    display: block;
    width: auto;
}

.card__desc::marker {
    color:#ccc;
    font-size: 1.5vw;
    margin: 0;
}

.card__icon {
    outline: 1px solid black;
    border-radius: 15px;
    padding: 4px;
    width: 5vw;
    height: 5vw;
    position: relative;
}

.card__icon p{
    font-weight: 700;
    padding-left: 0.5vw;
    color: rgb(204, 204, 204, 0.6);
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 0.6vw;
    margin-left: 0.6vw;
}

.card__icon--merriweather {
    background: #00a652 content-box;
    width: 7vw;
    height: 7vw;
    font-size: 2vw;
}

.card__icon--roboto {
    background: #FF7FC2 content-box;
}

.card__icon--notosans {
    background: #006DFE content-box;
}