@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  font-family: "Montserrat", sans-serif;
}

.wrapper {
  margin-top: 1vw;
  width: fit-content;
}

.nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: baseline;
}

.nav__tab-wrapper {
  display: flex;
}

.nav__tab {
  border: none;
  overflow: hidden;
  font-weight: 700;
  font-size: 10pt;
  padding: 10px;
  width: fit-content;
  color: #ccc;
  background-color: transparent;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
.nav__tab:hover {
  cursor: pointer;
  color: orangered;
}

.nav__tab--active {
  color: orangered;
}

.nav__tab--hamburger {
  display: none;
}

.nav__title {
  padding-left: 20px;
  font-size: 20pt;
  font-weight: 400;
  color: #212830;
}

.card-grid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px;
  border: 3px solid #ccc;
  border-radius: 6px;
  width: 600px;
  gap: 10px;
  block-size: fit-content;
}
.card-grid input {
  display: none;
}

.card-column {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
}

.card {
  display: flex;
  align-content: center;
  -moz-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease;
}
.card:hover {
  cursor: pointer;
}

.card-grid input:checked + .card {
  opacity: 0.5;
}

.card--vert {
  flex-direction: column;
  max-width: 80%;
}
.card--vert ul {
  padding-inline-start: 20px;
  width: 120%;
}

.card--hor {
  flex-direction: row;
  min-width: 20vw;
}
.card--hor ul {
  padding-inline-start: 50px;
}

.card--buy-fonts {
  justify-content: center;
}

.card__desc {
  width: 68%;
  font-size: 1.1em;
  line-height: 0.6cm;
  hyphens: auto;
}
.card__desc li::marker {
  color: #98A1B2;
  margin-top: 2px;
  font-size: 1.5em;
}

.card__desc--buy-fonts {
  text-align: center;
  display: block;
  width: auto;
}

.card__icon {
  outline: 1px solid #212830;
  border-radius: 15px;
  padding: 4px;
  width: 80px;
  height: 80px;
  position: relative;
}
.card__icon p {
  font-weight: 700;
  font-size: 18pt;
  color: rgba(204, 204, 204, 0.6);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-bottom: 15px;
  margin-left: 15px;
}

.card__icon--merriweather {
  background: #00a652 content-box;
  width: 110px;
  height: 110px;
}
.card__icon--merriweather p {
  font-size: 32pt;
}

.card__icon--roboto {
  background: #FF7FC2 content-box;
}

.card__icon--notosans {
  background: #006DFE content-box;
}

@media screen and (max-width: 765px) {
  .card-grid {
    flex-direction: column;
    margin: auto;
    gap: 30px;
    justify-content: center;
    width: auto;
  }

  .card-column {
    justify-content: center;
  }

  .card__icon p {
    font-size: 20pt;
  }

  .card__icon--merriweather {
    height: 80px;
    width: 80px;
  }

  .card--vert {
    flex-direction: row;
  }
  .card--vert ul {
    padding-inline-start: 50px;
  }
}
@media screen and (max-width: 481px) {
  .wrapper {
    width: 100%;
  }

  .card-grid {
    width: auto;
    padding: 25px;
    gap: 40px;
  }

  .nav {
    display: block;
  }

  .nav__title {
    width: 55%;
  }

  .nav__tab {
    display: none;
  }

  .nav__tab-wrapper {
    flex-direction: column;
    display: flex;
    background-color: #e7e7e7;
    align-content: flex-end;
    width: fit-content;
    position: absolute;
    right: 27px;
    top: 72px;
    z-index: 1;
  }

  .card__desc {
    width: 70%;
  }

  .card ul {
    margin-block-start: 0.5em;
  }

  .card--vert ul {
    width: auto;
  }

  .nav--responsive button {
    float: none;
    display: block;
  }

  button.nav__tab--hamburger {
    float: right;
    display: block;
    font-size: 20pt;
    position: absolute;
    right: 20px;
    top: 15px;
    background-color: transparent;
  }

  .card--vert {
    padding-left: 0;
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
